body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*browser compatibility support*/
a:focus {
    outline: none;
}

input[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.demo-container {
	font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 140%;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('images/modal-back.png');
}

.demo-container-header {
	position: absolute;
    background: #303030;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 60px;
    top: 0;
    left: 0;
    z-index: 6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.demo-container-title {
	color: #0383df;
    font-size: 20px;
    font-weight: 700;
    width: 720px;
    margin-left: -340px;
    left: 50%;
    position: absolute;
}

.demo-container-content {
    display: table-cell;
    min-height: 100%;
    background-color: #fff;
    border-left: 1px solid #c6c6c6;
    width: 720px;
    vertical-align: top;
    margin-left: -360px;
    left: 50%;
    position: absolute;
}

.demo-container-content-padded {
    position: relative;
    padding: 50px 0 74px;
}

.demo-top-block-holder {
    padding: 20px 20px 20px 30px;
    height: 35px;
}

.demo-top-block-controls-holder {
    float: left;
    margin-top: -4px;
}

    .demo-top-block-controls-holder a {
        display: inline-block;
        color: #0383df;
        font-size: 10px;
        vertical-align: middle;
        cursor: pointer;
    }

        .demo-top-block-controls-holder a:hover {
            text-decoration: underline;
        }
		
.demo-add-new-folder {
    margin-left: 10px;
    padding-left: 29px;
    background: url('images/sprite-media-1.png') no-repeat -3px -56px;
}

.demo-upload-new-file {
    margin-left: 10px;
    padding-left: 29px;
    background: url('images/sprite-media-1.png') no-repeat 0 -96px;
}

/*search*/
.demo-search-block {
    float: right;
}

    .demo-search-block > .demo-editor-field-box {
        width: 287px;
        margin-right: -4px;
        border-right: 0;
    }

        .demo-search-block > .demo-editor-field-box:focus {
            border-right: 0;
        }
		
.demo-btn-search {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    vertical-align: middle;
    background: url('images/sprite-base-2.png') no-repeat -23px -148px #303030;
    text-indent: 9999px;
    overflow: hidden;
}

    .demo-btn-search:hover {
        background-color: #383838;
    }

/*edit icon*/
a.demo-icn-edit {
    display: inline-block;
    width: 15px;
    height: 20px;
    vertical-align: middle;
    background: url('images/sprite-base-1.png') no-repeat center -835px;
    cursor: pointer;
    overflow: hidden;
    text-indent: 9999px;
}

    a.demo-icn-edit:hover {
        background-position: center -869px;
    }

    a.demo-icn-edit:active {
        background-position: center -903px;
    }

/*delete icon*/
a.demo-icn-delete {
    display: inline-block;
    height: 20px;
    padding-right: 30px;
    background: url('images/sprite-base-1.png') no-repeat right -933px;
    color: #c0c0c0;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

    a.demo-icn-delete:hover {
        color: #303030;
        background-position: right -970px;
        text-decoration: none;
    }

    a.demo-icn-delete:active {
        color: #df2200;
        background-position: right -1003px;
    }

/* Buttons */
.demo-btn-small {
    position: relative;
    display: inline-block;
    height: 28px;
    line-height: 29px;
    padding: 0 10px;
    border: 1px solid #24597e;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    overflow: hidden;
    text-transform: uppercase;
    background: #1890E6;
    background: linear-gradient(to bottom, #1890E6 0, #0D7BC9 100%);
    background: -moz-linear-gradient(top, #1890E6 0, #0D7BC9 100%);
    background: -webkit-linear-gradient(top, #1890E6 0, #0D7BC9 100%);
}

    .demo-btn-small:active {
        background: #0D7BC9;
    }

.demo-btn-links-small {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    vertical-align: middle;
    color: #0383df;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

    .demo-btn-links-small:hover {
        color: #24597e;
    }

/* Overwrite default placeholder text  */
:-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #787878;
}

::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #787878;
}

:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #787878;
}

/* Editor box  */
.demo-editor-field-box {
    height: 30px;
    width: 100%;
    line-height: 18px;
    padding: 6px;
    margin: 0;
    border: 1px solid #c6c6c6;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #000;
    vertical-align: middle;
    background-color: #f5f5f5;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

    .demo-editor-field-box:focus {
        background: #fff;
        border-color: #1894e4;
        box-shadow: 0 0 3px 0 rgba(24,145,230,0.35);
        outline: none;
    }

/* Sort Arrows */
.demo-sort-arrow {
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAGN9z9QAAAAV0lEQVQI12N4+vTpNCD+zwAjQPgPiAaLIIu6whi3YTJALMSAxIHhaSBBfiSB2zADQdgJZgNMkBmI92IxBoZBcmww3SCsAsQfkBSA2OrIJqLjTCDOQRcHAEn2vvYOPcQQAAAAAElFTkSuQmCC') no-repeat left 4px;
    color: #000;
    text-align: left;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .demo-sort-arrow:hover {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAGN9z9QAAAAUElEQVQI12NgYGCYBsT/GWAECPyBMf4ji7rCGLeRZISQlcEwyEQGfiSB2wxIwAnZBhBgBuK9WIyBYZAcG7IGFSD+gKQAxFZnwAMygTgHXRAA+ZId8raGMaEAAAAASUVORK5CYII=') no-repeat left 4px;
        text-decoration: none;
    }

.demo-sort-arrow-top {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAGN9z9QAAAATklEQVQI12NgQAKZIIIZiP8D8V5kGbDIfxhHBcr5wIAGMtEF3kJVqsAEdiGZ9R9qGwpwAuKfQPwHysYA/EB8A80UEL4NlQODyVgUoONpAKCTHdQ696ExAAAAAElFTkSuQmCC') no-repeat left 4px;
}

a.demo-sort-arrow-top:hover {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAGN9z9QAAAATklEQVQI12NgQAKZIIIZiP8D8V5kGbDIfxhHBcr5wIAGMtEF3kJVqsAEdiGZ9R9qGwpwAuKfQPwHysYA/EB8A80UEL4NlQODyVgUoONpAKCTHdQ696ExAAAAAElFTkSuQmCC') no-repeat left 4px;
}

.demo-sort-arrow-bottom {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAGN9z9QAAAAUElEQVQI12NgYGCYBsT/GWAECPyBMf4ji7rCGLeRZISQlcEwyEQGfiSB2wxIwAnZBhBgBuK9WIyBYZAcG7IGFSD+gKQAxFZnwAMygTgHXRAA+ZId8raGMaEAAAAASUVORK5CYII=') no-repeat left 4px;
}

/*forms & input fields validation, error messages*/
div.demo-list .demo-grid-input.input-validation-error {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAFMLZykAAAAbUlEQVQoz2N45uw8DYi/MsAZ////B2NUBlDqP1wAyLGDcZBVLCeo4j8QO0LpTNIUgBwH44CMBzkYXUEmsgnIkiiuxCZJnAnEuKEFasIXIPZGUuwNFQPJtWCzHiXQgYoyoBqQcQYujdQzgFIvAACFG3m8e8veBgAAAABJRU5ErkJggg==') no-repeat 100% center #fcecec;
    border: 1px solid #e64343;
    box-shadow: 0 0 2px 0 rgba(230, 67, 67, 0.4);
}

    div.demo-list .demo-grid-input.input-validation-error:focus {
        background: #fcecec;
        border: 1px solid #e64343;
        box-shadow: 0 0 2px 0 rgba(230, 67, 67, 0.4);
    }
	
/*default sorting block*/
.demo-list .demo-media-sorting-block .demo-media-col-1 {
    width: 40px;
}

.demo-media-sorting-block {
    height: 35px;
    background-color: #f5f5f5;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}

    .demo-media-sorting-block > div {
        float: left;
        height: 100%;
    }

    .demo-media-sorting-block .demo-media-col-2 {
        width: 180px;
        border-left: 1px solid #c6c6c6;
        border-right: 1px solid #c6c6c6;
    }

    .demo-media-sorting-block .demo-media-col-3 {
        width: 180px;
        border-right: 1px solid #c6c6c6;
    }

    .demo-media-sorting-block .demo-sort-arrow {
        margin: 8px 0 0 20px;
    }

.demo-media-col-2:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.demo-media-col-3:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

/*media manger files*/
.demo-list .demo-grid-input {
    display: none;
    position: absolute;
    left: 135px;
    top: 50%;
    height: 30px;
    width: 380px;
    line-height: 18px;
    padding: 6px;
    margin: -15px 0 0;
    border: 1px solid #1894e4;
    box-shadow: 0 0 3px 0 rgba(24,145,230,0.35);
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #000;
    vertical-align: middle;
    background: #fff;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input.demo-grid-input:focus {
    outline: none;
}

.demo-add-folder:hover .demo-system-addfolder {
    background-position: 0 -297px;
}

.demo-system-folder {
    display: inline-block;
    width: 56px;
    height: 42px;
    background: url('images/sprite-media-1.png') no-repeat 0 -176px;
    vertical-align: middle;
}

.demo-system-file {
    display: inline-block;
    width: 56px;
    height: 43px;
    background: url('images/sprite-media-3.png') no-repeat;
    vertical-align: middle;
}

.demo-media-name {
    line-height: 16px;
    font-size: 11px;
    color: #0383df;
}

/*folders in list*/
.demo-list .demo-folder-box {
    position: relative;
    height: 62px;
    padding: 0 20px 0 40px;
    border-bottom: 1px solid #e3e3e3;
}

    .demo-list .demo-folder-box:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

        .demo-list .demo-folder-box:hover div.demo-system-folder {
            background-position: 0 -235px;
        }

    .demo-list .demo-folder-box .demo-icn-edit {
        position: absolute;
        left: 16px;
        top: 50%;
        margin-top: -10px;
    }

    .demo-list .demo-folder-box:hover a.demo-icn-edit {
        background-position: center -869px;
    }

        .demo-list .demo-folder-box:hover a.demo-icn-edit:active {
            background-position: center -903px;
        }

    .demo-list .demo-folder-box .demo-media-inner-controls {
        display: none;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 130px;
        margin-top: -17px;
    }

    .demo-list .demo-folder-box .demo-media-items-block {
        display: inline-block;
        min-width: 480px;
        padding: 10px 15px;
        border-left: 1px solid #e3e3e3;
        vertical-align: middle;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .demo-list .demo-folder-box .demo-media-name {
        display: inline-block;
        max-width: 390px;
        padding-left: 20px;
        vertical-align: middle;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .demo-list .demo-folder-box .demo-media-edit-controls {
        float: right;
        margin-top: 22px;
    }

/*folders in list active box*/
.demo-list .demo-folder-box-active {
    background-color: #effcfe;
}

    .demo-list .demo-folder-box-active:hover {
        background-color: #effcfe;
    }

    .demo-list .demo-folder-box-active div.demo-system-folder {
        background-position: 0 -235px;
    }

    .demo-list .demo-folder-box-active div.demo-media-inner-controls {
        display: block;
    }

    .demo-list .demo-folder-box-active div.demo-media-name {
        display: none;
    }

    .demo-list .demo-folder-box-active input.demo-grid-input {
        display: block;
    }

    .demo-list .demo-folder-box-active .demo-icn-edit {
        background-position: center -869px;
    }

    .demo-list .demo-folder-box-active a.demo-icn-delete {
        display: none;
    }

/*add new folder*/
.demo-system-addfolder {
    display: inline-block;
    width: 56px;
    height: 42px;
    background: url('images/sprite-media-1.png') no-repeat 0 -126px;
    vertical-align: middle;
}

.demo-list .demo-add-folder {
    position: relative;
    height: 62px;
    padding: 0 20px 0 40px;
    cursor: pointer;
}

    .demo-list .demo-add-folder .demo-media-items-block {
        border-left: 0;
    }

    .demo-list .demo-add-folder .demo-media-items-block {
        display: inline-block;
        padding: 10px 15px;
        vertical-align: middle;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .demo-list .demo-add-folder .demo-media-name {
        display: inline-block;
        padding-left: 20px;
        vertical-align: middle;
        font-size: 14px;
    }

/*files in list*/
.demo-list .demo-file-box {
    position: relative;
    height: 62px;
    padding: 0 20px 0 40px;
    border-bottom: 1px solid #e3e3e3;
}

    .demo-list .demo-file-box:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }

    .demo-list .demo-file-box .demo-icn-edit {
        position: absolute;
        left: 16px;
        top: 50%;
        margin-top: -10px;
    }

    .demo-list .demo-file-box:hover a.demo-icn-edit {
        background-position: center -869px;
    }

        .demo-list .demo-file-box:hover a.demo-icn-edit:active {
            background-position: center -903px;
        }

    .demo-list .demo-file-box .demo-media-inner-controls {
        display: none;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 130px;
        margin-top: -17px;
    }

    .demo-list .demo-file-box .demo-media-items-block {
        display: inline-block;
        min-width: 480px;
        padding: 10px 15px;
        border-left: 1px solid #e3e3e3;
        vertical-align: middle;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .demo-list .demo-file-box .demo-media-name {
        display: inline-block;
        max-width: 390px;
        padding-left: 20px;
        vertical-align: middle;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .demo-list .demo-file-box .demo-media-edit-controls {
        float: right;
        margin-top: 22px;
    }

/*files in list active box*/
.demo-list .demo-file-box-active {
    background-color: #effcfe;
}

    .demo-list .demo-file-box-active:hover {
        background-color: #effcfe;
    }

    .demo-list .demo-file-box-active div.demo-media-inner-controls {
        display: block;
    }

    .demo-list .demo-file-box-active div.demo-media-name {
        display: none;
    }

    .demo-list .demo-file-box-active input.demo-grid-input {
        display: block;
    }

    .demo-list .demo-file-box-active .demo-icn-edit {
        background-position: center -869px;
    }

    .demo-list .demo-file-box-active a.demo-icn-delete {
        display: none;
    }

/*additional file types*/
.demo-uknown-icn {
    background-position: 0 0;
}

.demo-media-click-active .demo-uknown-icn {
    background-position: -84px 0;
}

.demo-file-box:hover .demo-uknown-icn {
    background-position: -84px 0;
}

.demo-file-box-active .demo-uknown-icn {
    background-position: -84px 0;
}

.demo-pdf-icn {
    background-position: 0 -112px;
}

.demo-media-click-active .demo-pdf-icn {
    background-position: -84px -112px;
}

.demo-file-box:hover .demo-pdf-icn {
    background-position: -84px -112px;
}

.demo-file-box-active .demo-pdf-icn {
    background-position: -84px -112px;
}

.demo-word-icn {
    background-position: 0 -167px;
}

.demo-media-click-active .demo-word-icn {
    background-position: -84px -167px;
}

.demo-file-box:hover .demo-word-icn {
    background-position: -84px -167px;
}

.demo-file-box-active .demo-word-icn {
    background-position: -84px -167px;
}

.demo-mp3-icn {
    background-position: 0 -279px;
}

.demo-media-click-active .demo-mp3-icn {
    background-position: -84px -279px;
}

.demo-file-box:hover .demo-mp3-icn {
    background-position: -84px -279px;
}

.demo-file-box-active .demo-mp3-icn {
    background-position: -84px -279px;
}

.demo-mp4-icn {
    background-position: 0 -334px;
}

.demo-media-click-active .demo-mp4-icn {
    background-position: -84px -334px;
}

.demo-file-box:hover .demo-mp4-icn {
    background-position: -84px -334px;
}

.demo-file-box-active .demo-mp4-icn {
    background-position: -84px -334px;
}

.demo-ppt-icn {
    background-position: 0 -389px;
}

.demo-media-click-active .demo-ppt-icn {
    background-position: -84px -389px;
}

.demo-file-box:hover .demo-ppt-icn {
    background-position: -84px -389px;
}

.demo-file-box-active .demo-ppt-icn {
    background-position: -84px -389px;
}

.demo-xls-icn {
    background-position: 0 -446px;
}

.demo-media-click-active .demo-xls-icn {
    background-position: -84px -446px;
}

.demo-file-box:hover .demo-xls-icn {
    background-position: -84px -446px;
}

.demo-file-box-active .demo-xls-icn {
    background-position: -84px -446px;
}

.demo-rar-icn {
    background-position: 0 -501px;
}

.demo-media-click-active .demo-rar-icn {
    background-position: -84px -501px;
}

.demo-file-box:hover .demo-rar-icn {
    background-position: -84px -501px;
}

.demo-file-box-active .demo-rar-icn {
    background-position: -84px -501px;
}

.demo-wav-icn {
    background-position: 0 -556px;
}

.demo-media-click-active .demo-wav-icn {
    background-position: -84px -556px;
}

.demo-file-box:hover .demo-wav-icn {
    background-position: -84px -556px;
}

.demo-file-box-active .demo-wav-icn {
    background-position: -84px -556px;
}

/*breadcrumbs*/
.demo-breadcrumbs-holder {
    height: 20px;
    margin: -15px 0 10px;
    padding-left: 30px;
    line-height: 15px;
    font-size: 14px;
    font-weight: 700;
}

.demo-breadcrumbs-root {
    display: inline-block;
    max-width: 575px;
    height: 20px;
    color: #0383df;
    line-height: 20px;
    text-decoration: none;
    vertical-align: top;
    overflow: hidden;
}

    .demo-breadcrumbs-root:first-child {
        padding-left: 21px;
        background: url('images/sprite-media-1.png') no-repeat -3px -29px;
        color: #353535;
    }

        .demo-breadcrumbs-root:first-child:hover {
            color: #0383df;
        }